.tabs{
  background-color: #004d40;
}

.shape-control{
  float: left;
  width:500px;
}
.btn{
  float: left;
  margin: 0px 5px 0px 5px;
}

.shape-wrap{
  margin: auto;
  width: 10%;
  float: left;
}

.shape-control-txt{
  float: left;
  padding: 10px;
  width: 500px;
  height: 20px;
  text-align: justify;
}